name: Build Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    concurrency:
      group: build
      cancel-in-progress: true

    steps:
    - name: Check Out Repository
      uses: actions/checkout@v4

    - name: Set Up Docker Builder
      uses: docker/setup-buildx-action@v3.5.0

    - name: Login to Google Artifact Registry
      uses: docker/login-action@v3.3.0
      with:
        registry: us-central1-docker.pkg.dev
        username: _json_key
        password: ${{ secrets.GCP_SA_KEY_DEV }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          us-central1-docker.pkg.dev/licensecorporation-dev/lcorp-docker0/postgis-pgvector
        tags: |
          type=sha
          type=schedule
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}

    - name: Build and Push Backend Docker Image
      uses: docker/build-push-action@v6.5.0
      with:
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        context: .
